@import "tailwindcss";

@font-face {
  font-family: 'MyLocalFont';
  src: url('../assets/quicksand.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@theme {
    --font-custom: "MyLocalFont", sans-serif;

    --color-frombg: #dccdcc;
    --color-tobg: color-mix(in srgb, var(--color-frombg) 70%, black 30%);
    

    --color-particles: #545980;
    --color-highlight: color-mix(in srgb, var(--color-particles) 50%, white 50%);

    --color-text: #000000;


    /* --color-frombg: #401b14;
    --color-tobg: color-mix(in srgb, var(--color-frombg) 50%, black 50%);
    

    --color-particles: #e1ae88;
    --color-highlight: color-mix(in srgb, var(--color-particles) 50%, black 50%);

    --color-text: #e9ddd4; */
}